        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 18px;
            border: 0px;
        }

        #navbar {
            /* border: 2px solid black; */
            height: 47px;
            width: 100%;
            background-color: white;
            /* position: sticky; */
            position: fixed;
            z-index: 10;
        }

        .container {
            display: flex;
            /* border: 2px solid grey; */
        }

        #right {
            /* border: 2px solid blue; */
            width: 350px;
            /* float: right; */
            margin-left: 792px;
            text-align: center;
            padding-top: 10px;
            display: inline;
            /* justify-content: center; */

        }

        #left {
            /* border: 2px solid red; */
            display: inline;
            padding: 11px;
            text-align: center;
            width: 305px;
        }

        ul {
            display: inline;
            width: 350px;
            /* border: 2px solid black; */
            margin-top: 6px;
        }

        .listitem {
            display: inline;
            margin: 20px;
        }

        a {
            text-decoration: none;
        }


        /* HEADER IS DONE */
        #imagesection{
            position: relative;
            text-align: center;
            color: white;
        }

        #bg_image {
            height: 100%;
            width: 100%;
            opacity: 55%;
            z-index: -1;
        }
        #quotecontainer{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 120px;
            width: 1200px;
            color: white;
        }
        /* IMPLIES TO ALL IMAGE */
        img {
            opacity: 74%;
        }
        #bigcontainer {
            display: grid; 
            grid-template-columns: 50% 50%;
            grid-template-rows: 905px 905px; 
            margin: 40px;
        }

        .boxes {
            /* border: 2px solid grey; */
            padding: 70px;
            border-bottom: 1px solid rgb(222, 222, 222);
        }

        #box1>img {
            /* object-fit: contain; */
            height: 100%;
            width: 100%;
        }

        #box4>img {
            /* object-fit: contain; */
            height: 100%;
            width: 100%;

        }

        #box3 {
            /* border-top: 1px solid grey; */
            /* text-align: center; */
            line-height: 1.8;
        }

        #box2 {
            /* text-align: center; */
            line-height: 1.8;
            padding-top: 20px;
        }

        #box2>h3 {
            font-size: 43px;
            margin-left: 136px;
        }

        #box3>h3 {
            font-size: 43px;
        }

        #box2>h2 {
            padding-left: 153px;
            font-size: 28px;
        }

        #box3>h3 {
            padding-left: 174px;
        }



        #bottom {
            margin: 100px;
        }

        #contact {
            font-size: 40px;
            /* border: 2px solid brown; */
            width: 300px;
            height: 80px;
        }

        #para1 {
            font-size: 14px;
            width: 100%;
            height: 80px;
            padding-top: 10px;
        }

        #para2 {
            font-size: 18px;
            width: 100%;
            height: 50px;
            /* border: 2px solid violet; */
            color: rgb(41, 176, 183);
        }

        #para3 {
            font-size: 14px;
            width: 100%;
            height: 16px;
            padding-top: 10px;
            /* border: 2px solid green; */
        }

        form {
            margin-top: 23px;
            /* border: 2px solid yellow; */
            
        }

        input {
            height: 46px;
            width: 100%;
            border: none;   /* REMEMBER */
            outline: none;
            border-bottom: 1px solid #ccc; 
            margin-top: 10px;
            margin-bottom: 10px;
        }
        button{
            height: 36px;
            width: 173px;
            border: none;
            font-size: 15px;
            margin-top: 20px;
        }
        button:hover{
            background-color: #ccc;
            cursor: pointer;
        }
        #footer{
            /* border: 2px solid violet; */
            height: 150px;
            background-color: #f6f2f2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
        }